/* Import Fonts */
@import url("");
@import url("");

/* Artboard */
* {
    --min-width: 1280px;
    --header-font: "", serif;
    --para-font: "", sans-serif;

    --txt-color: white;

    --header-bg-color: black;
    --header-height: 100px;
    --header-padding: 10px;

    --navbar-font-size: 45px;
    --navbar-padding: 2vw;

    --page-title-height: 300px;
    --page-title-padding: 20px;
    --page-title-bg-img: url("../images/bg.jpg");
    --page-title-top-color: rgba(0, 0, 0, 0.308);
    --page-title-bottom-color: rgb(14, 14, 14);
    --page-title-gradient: var(--page-title-top-color), var(--page-title-bottom-color);
    --page-title-color: green;
    --page-title-stroke-size: 1px;
    --page-title-stroke-color: black;

    --a-color: white;
    --a-transition-time: 250ms;
    --a-visited-color: white;
    --a-active-color: darkgreen;
    --a-border-size: 3px;
}

html, body {
    padding: 0;
    margin: 0;
    min-width: var(--min-width);
    background: linear-gradient(var(--page-title-gradient)), var(--page-title-bg-img) no-repeat left top;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}
p {
    font-family: var(--para-font);
}

header {
    position: relative;
    background-color: var(--header-bg-color);
    height: var(--header-height);
	padding-top: var(--header-padding);
}
body {
    background-image: var(--body-bg-img);
}

.navbar h2 {
    display: inline;
    font-size: var(--navbar-font-size);
    padding-right: var(--navbar-padding);
    padding-left: var(--navbar-padding);
}
.navbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-title {
    height: var(--page-title-height);
    padding-top: var(--page-title-padding);
    padding-bottom: var(--page-title-padding);
    text-align: center;
    color: var(--page-title-color);
    text-decoration: none;
	-webkit-text-stroke: var(--page-title-stroke-size) var(--page-title-stroke-color);
}

a {
  display: inline-block;
  color: var(--a-color);
  text-decoration: none;
}
a::after {
  display: block;
  content: '';
  border-bottom: solid var(--a-border-size) var(--a-color);
  transform: scaleX(0);
  transition: transform var(--a-transition-time) ease-in-out;
}
a:hover::after{
    transform: scaleX(1);
}
a:active{
    color: var(--a-active-color);
}
a:visited {
    color: var(--a-visited-color);
}